.info {
    background: #851E22
}

.info1 {
    background: #851E22;
}

body {
    font-family: 'Exo 2', sans-serif;
    background:  #C4A381 center/cover fixed no-repeat;
}


.primary-color {
    font-size: 70px;
    color: #851E22;
}

.secondary-color {
    color: rgba(255, 255, 255, 0.698);
}

.about-color {
    color: white;
    font-size: 80px;
}

.third-color {
    color: white;
    font-size: 50px;
}

.gallery-color {
    color: #851E22;
    font-size: 60px;
}


.facebook-color {
    color: rgb(7, 94, 255);
}

.instagram-color {
    color: #C13584;
}
.whatsapp-color {
    color: #239530c4;
}

.address-color {
    color: whitesmoke;
}

.info h2 {
    word-spacing: 0.6rem;
}

.info a {
    transition: color 2s ease-in-out;
}

.info a:hover {
    color: #ffffff;
}


/******HEADER******/
#header {
    min-height: calc(70vh - 94px);
    background:url(../images/VIAMARGUTTALOGO.png);
    background-size: 500px;
    background-color: #C4A381;
    background-position: center;
    background-attachment: initial;
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom;
    margin-bottom: auto;
}


.banner h1 {
    animation: fromLeft;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fromLeft {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.primary-color:hover {
    color: white;

}

.main-btn {
    color: white;
    background: #851E22;
    font-size: 20px;
    border: 2px solid #851E22;
    transition: all 1s ease-in-out;
}

.main-btn:hover {
    color: #242424;
    border: 2px solid#c9c1ac;
    background: #c9c1ac;
}

.reserve-btn {
    animation: fromRight;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fromRight {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(-30px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}




@keyframes fromBottom {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
/*#########NAVBAR#######*/

.navbar {
    background: rgba(46, 43, 43, 0.459);
    padding: 20px 20px;
    transition: all 1s ease;
    width: 100%;
    margin: auto;
}

.navbar-background {
    padding: 5px 20px;
    
}
.navbar-brand {
    font-size: 30px;
    color: white;
    transition: all 1s ease;
}
.navbar-brand:hover {
    color: rgb(90, 34, 34);
}

.nav-link {
    color: white;
    transition: all 1s ease;
}

.nav-link:hover {
    color: rgb(90, 34, 34);
}

.nav-item {
    font-size: 25px;
}


.toggler-btn {
    border: 2px solid ;
    padding: 5px;
    transition: all 2s ease;
}

.bar {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: white;
    transition: all 0.5 ease;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
}

/*########### ART COLLECTION #########*/

.card-img-top {
    width: 100%;
    height: 100%;
}

.item-container {
    position: relative;
    /* for the link */
    overflow: hidden;
    background: linear-gradient(rgb(0,0,0), rgb(0,0,0));
    transition: all 2s ease;
}

.premios {
    margin-right: auto;
}

.item-img {
    transition: all 2s ease;
}

.item-container:hover .item-img {
    transform: scale(1.2);
    opacity: 0.5;
}

.item-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border-top: 3px dashed;
    border-bottom: 3px dashed;
    transition: all 2s ease;
    opacity: 0;
}

.item-container:hover .item-link {
    opacity:1;
}

.item-link:hover {
    color: #C4A381;
    border: 3px dashed #C4A381;
}

.item-container:hover {
    outline: 10px solid #851E22;
    outline-offset: -1.5rem;
}

.about-paragraph {
    overflow: hidden;
}


.text-uppercase{
    margin-right: 400px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
  }

#about {
    background-color: #851e22;
}

.container1 {
    width: 100%;
    background: #851e22;
    margin-left: center;
    margin-right: center;
}


/*************ABOUT*********/

.about-picture {
    position: relative;
}

.about-image {
    position: absolute;
    width: 150px;
    transition: all 2s ease;
    opacity: 0.9;
}

.img-1 {
    left: 0%;
    top: 0%;
}

.img-2 {
    left: 20%;
    top: 20%;
    z-index: 10;
}

.img-3 {
    left: 40%;
    top: 45%;
    z-index: 20;
}

.img-4 {
    left: 40%;
    top: 0%;
}

.img-5 {
    left: 0%;
    top: 45%;
}

.about-image:hover {
    outline: 5px solid #851E22;
    outline-offset: 0.8rem;
    transform: scale(1.3) rotate(10deg);
    z-index:30;
    opacity: 1;
}

.about-picture:hover .about-image:not(:hover) {
    opacity: 0.5;
}

.card {
    background-color: #851E22;
}

.year1 {
    color: rgb(185, 22, 136);
}

/*************CONTACT************/

.height-60{
    min-height: 60vh;
}

#contact .card {
    background: rgba(128, 128, 128, 0.267);
    transition: all 2s ease;
}

#contact .card-header {
    color: white;
}

#contact .input-group-text {
    background: white;
    color: black;
}

#contact .card input{
    color: #606060;
}

#contact .card input::placeholder {
    color: #606060;
}

.contact-btn {
    color: black;
    border-color: black;
    transition: all 2s ease-in-out;
}

.contact-btn:hover {
    background: #851E22;
    color: white;
}

/**********FOOTER************/

#back-to-top {
    border-radius: 10px;
    display: inline-block;
}

.scrollTop {
    position:fixed;
    bottom: 70px;
    right:10px;
}